data/openthesaurus.txt

.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### IntelliJ IDEA ###
.idea/
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store
/gradle/wrapper/gradle-wrapper.jar
/target/classes/de/agrothe/crosswords/AppConfig.class
/target/classes/de/agrothe/crosswords/Axis$Companion$WhenMappings.class
/target/classes/de/agrothe/crosswords/Axis$Companion.class
/target/classes/de/agrothe/crosswords/Axis.class
/target/classes/de/agrothe/crosswords/ConfigKt$logger$2$1.class
/target/classes/de/agrothe/crosswords/ConfigKt$logger$2.class
/target/classes/de/agrothe/crosswords/ConfigKt$readConfig$$inlined$extract$1.class
/target/classes/de/agrothe/crosswords/ConfigKt.class
/target/classes/de/agrothe/crosswords/Dict$Companion.class
/target/classes/de/agrothe/crosswords/Dict$entries$2.class
/target/classes/de/agrothe/crosswords/Dict$keys$2.class
/target/classes/de/agrothe/crosswords/Dict.class
/target/classes/de/agrothe/crosswords/DictConfig.class
/target/classes/de/agrothe/crosswords/DictKt$parseDict$1.class
/target/classes/de/agrothe/crosswords/DictKt$parseDict$2.class
/target/classes/de/agrothe/crosswords/DictKt$parseDict$3.class
/target/classes/de/agrothe/crosswords/DictKt$parseDict$4.class
/target/classes/de/agrothe/crosswords/DictKt$parseDict$5.class
/target/classes/de/agrothe/crosswords/DictKt$parseDict$6.class
/target/classes/de/agrothe/crosswords/DictKt$parseDict$7.class
/target/classes/de/agrothe/crosswords/DictKt$parseDict$8.class
/target/classes/de/agrothe/crosswords/DictKt$parseDict$9.class
/target/classes/de/agrothe/crosswords/DictKt.class
/target/classes/de/agrothe/crosswords/MainKt$dict$2.class
/target/classes/de/agrothe/crosswords/MainKt$logger$2$1.class
/target/classes/de/agrothe/crosswords/MainKt$logger$2.class
/target/classes/de/agrothe/crosswords/MainKt.class
/target/classes/de/agrothe/crosswords/Pos$WhenMappings.class
/target/classes/de/agrothe/crosswords/Pos.class
/target/classes/de/agrothe/crosswords/PuzzlesKt$dict$2.class
/target/classes/de/agrothe/crosswords/PuzzlesKt$keys$2.class
/target/classes/de/agrothe/crosswords/PuzzlesKt$logger$2$1.class
/target/classes/de/agrothe/crosswords/PuzzlesKt$logger$2.class
/target/classes/de/agrothe/crosswords/PuzzlesKt$WhenMappings.class
/target/classes/de/agrothe/crosswords/PuzzlesKt.class
/target/classes/de/agrothe/crosswords/ReadDictConfig.class
/target/classes/META-INF/crosswords.kotlin_module
/target/classes/application.conf
/target/classes/dict.conf
/target/classes/layout.txt
/target/classes/negativeList.conf
/target/classes/simplelogger.properties
/target/kaptStubs/compile/de/agrothe/crosswords/AppConfig.java
/target/kaptStubs/compile/de/agrothe/crosswords/AppConfig.kapt_metadata
/target/kaptStubs/compile/de/agrothe/crosswords/Axis.java
/target/kaptStubs/compile/de/agrothe/crosswords/Axis.kapt_metadata
/target/kaptStubs/compile/de/agrothe/crosswords/ConfigKt.java
/target/kaptStubs/compile/de/agrothe/crosswords/ConfigKt.kapt_metadata
/target/kaptStubs/compile/de/agrothe/crosswords/Dict.java
/target/kaptStubs/compile/de/agrothe/crosswords/Dict.kapt_metadata
/target/kaptStubs/compile/de/agrothe/crosswords/DictConfig.java
/target/kaptStubs/compile/de/agrothe/crosswords/DictConfig.kapt_metadata
/target/kaptStubs/compile/de/agrothe/crosswords/DictKt.java
/target/kaptStubs/compile/de/agrothe/crosswords/DictKt.kapt_metadata
/target/kaptStubs/compile/de/agrothe/crosswords/MainKt.java
/target/kaptStubs/compile/de/agrothe/crosswords/MainKt.kapt_metadata
/target/kaptStubs/compile/de/agrothe/crosswords/Pos.java
/target/kaptStubs/compile/de/agrothe/crosswords/Pos.kapt_metadata
/target/kaptStubs/compile/de/agrothe/crosswords/PuzzlesKt.java
/target/kaptStubs/compile/de/agrothe/crosswords/PuzzlesKt.kapt_metadata
/target/kaptStubs/compile/de/agrothe/crosswords/ReadDictConfig.java
/target/kaptStubs/compile/de/agrothe/crosswords/ReadDictConfig.kapt_metadata
/target/kaptStubs/compile/error/NonExistentClass.java
/target/kaptStubs/test/de/agrothe/crosswords/test/TestDict.java
/target/kaptStubs/test/de/agrothe/crosswords/test/TestDict.kapt_metadata
/target/kaptStubs/test/de/agrothe/crosswords/test/TestDictKt.java
/target/kaptStubs/test/de/agrothe/crosswords/test/TestDictKt.kapt_metadata
/target/kaptStubs/test/error/NonExistentClass.java
/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
/target/surefire-reports/de.agrothe.crosswords.test.TestDict.txt
/target/surefire-reports/TEST-de.agrothe.crosswords.test.TestDict.xml
/target/test-classes/de/agrothe/crosswords/test/TestDict$noEmptyValues$1$1$1.class
/target/test-classes/de/agrothe/crosswords/test/TestDict.class
/target/test-classes/de/agrothe/crosswords/test/TestDictKt$entries$2.class
/target/test-classes/de/agrothe/crosswords/test/TestDictKt$logger$1.class
/target/test-classes/de/agrothe/crosswords/test/TestDictKt.class
/target/test-classes/META-INF/crosswords.kotlin_module
/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/createdFiles.lst
/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
