@keyframes puzzleCellCharAllFinished1{
    100% {
        transform: rotateX(400grad)
    }
}
@keyframes puzzleCellCharAllFinished2{
    100% {
        transform: rotateY(400grad)
    }
}
@keyframes puzzleCellCharAllFinished3{
    100% {
        transform: rotateZ(400grad)
    }
}